<!DOCTYPE html>
<html>
    <head>
        <title>
            The Prophets
        </title>
    </head>
    <body>
        <h3>
            Value
        </h3>
        <p>
            <form action="/hello" method="post">
                X_Value: <input type="number" name="px">  <br />
                Y_Value: <input type="number" name="py" />
                <input type="submit" name= "form" value="Submit" />
            </form>
            <br>
            <br>
            <form action="/hello" method="post">
                X_Value: <input type="number" name="qx">  <br />
                Y_Value: <input type="number" name="qy" />
                <input type="submit" name= "form" value="Submit1" />
            </form>
        </p>
        <p>Sum is: {{sum}} </p>
    </body>
</html>